<script>
	import { applyAction, enhance } from '$app/forms';

	// /** @type {import('./$types').ActionData} */
	export let form;

	/** @type {import("@sveltejs/kit").SubmitFunction} */
	const login = () => {
		return async ({ result }) => {
			console.log(result);
			await applyAction(result);
		};
	};
</script>

<pre>
	{JSON.stringify(form, null, 2)}
</pre>

<form method="POST" action="/login" use:enhance={login}>
	<input type="text" name="user" value={form?.data?.user ?? ''} />
	<!-- {#if form?.errors?.user} -->
	{#if form?.errors?.user}
		<p class="error">Name is required</p>
	{/if}

	<input type="password" name="password" />
	{#if form?.errors?.password}
		<p class="error">Password is required</p>
	{/if}

	<button type="submit">Login</button>
</form>

<style>
	.error {
		color: tomato;
	}
</style>
