<script>
	import { enhance } from '$app/forms';
	// import { addTodo } from "$lib/server/database";

	/** @type {import('./$types').PageData} */
	export let data;
	/** @type {import("./$types").ActionData} */
	export let form;

	let loading = false;

	/** @type {import('./$types').SubmitFunction} */
	async function addTodo() {
		// do something before the form submits
		// console.log(input);
		loading = true;
		return async ({ update }) => {
			// do something after the form submits
			// console.log(options);
			loading = false;
			await update();
		};
	}
</script>

<pre>
	{JSON.stringify(form, null, 2)}
</pre>

<ul>
	{#each data.todos as todo}
		<li>
			<span>{todo.text}</span>
			<form method="post" action="?/removeTodo" use:enhance={addTodo}>
				<input type="hidden" name="id" value={todo.id} />
				<button class="delete" type="submit">X</button>
			</form>
		</li>
	{/each}
</ul>

<form method="post" action="?/addTodo" use:enhance={addTodo}>
	<input type="text" name="todo" />
	{#if form?.missing}
		<p class="error">This field is required.</p>
	{/if}
	<button aria-busy={loading} class:secondary={loading} type="submit">
		{#if !loading}
			+ Add Todo
		{/if}</button
	>
	<button class="secondary" type="submit" formaction="?/clearTodos"> Clear Todos </button>
</form>

{#if form?.success}
	<p>Added todo!</p>
{/if}

<style>
	ul {
		padding: 0;
	}

	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	span {
		text-transform: capitalize;
	}

	.delete {
		margin: 0;
		background: none;
		border: none;
	}

	.error {
		color: tomato;
	}
</style>
